<H2 class=topdescription>Kikkerは各ユーザーへのホットなページを自動で整理し教えてくれる便利なサービスです。</H2>
<DIV id=tophead>
 	　<DL id=catch>
 	　<DT><p>あなた<strong>専用</strong>のおすすめページをお届け</p>
	 <DD>いくつかのキーワードを登録するとそれらのキーワードから判断したあなたの特徴を元にKikkerがおすすめページを探してきます</a>
	 <DT><p>気になるキーワードを登録</p>
	 <DD><a href="/regist">登録作業はWeb上で簡単・ラクチン</a>
	 <DT><p>Kikkerはいつもあなたの事をお勉強</p>
	 <DD><a><a href="/login">ログイン</a>した状態でリンクをクリックするとKikkerはリンク先のページの内容からあなたの好みを学習します.つまり,毎日Kikkerを使うだけで,よりあなた好みの情報が集まってくる!!</a>
	 <DT><a href="http://b.hatena.ne.jp/keyword">キーワード</a>でつながる 
	 <DD>キーワードを通じて,内容が似ているページや,趣向が似ているユーザーを見つけることができます
	 <DT><a href="http://d.hatena.ne.jp/kanbayashi/20060611#p7">RSSリーダで毎日のホットな情報を購読</a>
	 <DD>KikkerのRSSを各種RSSリーダで購読すればあなたの毎日の情報収集のコストをさらにグッと下げることができます
	 <DT>はてブクマしたエントリから学習可能になりました <font color=orange>8/20 New!!</font>
	 <DD>はてブのユーザIDを登録することで、初期学習が行えます。また、それ以後もブクマされたエントリの内容をKikkerは学習していきます.登録情報変更からIDを登録してみて下さい.
	 <DT>姉妹サービス <font color=orange>10/21 New!!</font>
	 <DD><a href="http://ryogrid.myhome.cx/osekkai/">はてブおせっかい</a>と<a href="http://www.coins.tsukuba.ac.jp/~i041184/distribute/hatebu_mawarinohito/hatebu_mawarinohito.html">はてぶまわりのひと</a>というサービスを作りました。こちらも是非お使い下さい。
	 <DT>お願い
	 <DD><a href="http://b.hatena.ne.jp/kanbayashi/add?mode=confirm&url=http%3A%2F%2Fryogrid.myhome.cx%3A1234%2F"><img src='http://f.hatena.ne.jp/images/fotolife/a/acqua_alta/20061012/20061012004648.gif' /></a>
	 <P style="FONT-SIZE: 80%; LINE-HEIGHT: 135%">※使い方などの詳細は<A href="http://ryogrid.myhome.cx/wiki/pukiwiki.php?Kikker">Kikker Wiki</A>、
	 <P style="FONT-SIZE: 80%; LINE-HEIGHT: 135%">※ご意見・ご要望は<A href="http://ryogrid.myhome.cx/wiki/pukiwiki.php?%CD%D7%CB%BE%B7%C7%BC%A8%C8%C4">要望掲示板</A></P>
	 <P style="FONT-SIZE: 80%; LINE-HEIGHT: 135%">※よくある質問と回答は<A href="http://ryogrid.myhome.cx/wiki/pukiwiki.php?%A4%E8%A4%AF%A4%A2%A4%EB%BC%C1%CC%E4">よくある質問</A>
	 </P>
</DIV>