<!--shinobi1-->
<script type="text/javascript" src="http://x6.yu-yake.com/ufo/<%=@page_num%>"></script>
<noscript><a href="http://x6.yu-yake.com/bin/gg?<%=@page_num%>" target="_blank">
<img src="http://x6.yu-yake.com/bin/ll?072197900" border="0"></a><br>
<a style="font-size:80%" href="http://www.shinobi.jp/travel/" target="_blank">格安航空券</a></noscript>
<!--shinobi2-->